
/*css reset*/
@import url(./reset.css);


/*paleta de cores*/
:root,
:root[data-theme='dark'] {
    --primary-color: #f7d7e8;

    --primary-bg-color: #231942;
    --secondary-bg-color: #5E548E;
    --primary-border-color: #9F86C0;
    --secondary-border-color: #9F86C0;

    --title-color: #9F86C0;
    --text-color: #dcd7f3;
    --link-color: #5E548E;
    --icon-color: #5E548E;
    --a-hover: #231942;

    /*cores card contato e foto*/
    --font-color: #fefefe;
    --font-color-sub: #231942;
    --bg-color: #9F86C0;
    --header-color: #6a6194;
}

:root,
:root[data-theme='light'] {
    --primary-color: #5E548E;

    --primary-bg-color: #f7d7e8;
    --secondary-bg-color: #BE95C4;
    --primary-border-color: #231942;
    --secondary-border-color: #5E548E;

    --title-color: #231942;
    --text-color: #6e6696;
    --link-color: #231942;
    --icon-color: #231942;
    --a-hover: #5E548E;

    /*cores card contato e foto*/
    --font-color: #fefefe;
    --font-color-sub: #dcd7f3;
    --bg-color: #231942;
    --header-color: #bfbad6;

    /*cores de sombra do conteudo sobre mim*/

    --sombra1: 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555;
}

html[data-theme='light'] .brand_logo {
    filter: invert(1);
}

html[data-theme='light'] .technologies__logo {
    filter: invert(80%);
}

body {
    height: 100vh;
    background: var(--primary-bg-color);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    overflow-x: hidden;
    margin: 0;
    padding: 0;

}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-bg-color);
    border-radius: 50rem;
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: ease-in-out .4s;
}



#area_navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* garante que fique acima do conteúdo */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: bold;
}

h1 {
    color: var(--title-color);
}

/*Header*/

header {
    position: relative;
    padding: 0 2rem;
    background: var(--header-color);
}

.navbar {
    width: 100%;
    height: 60px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo_navbar a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}


/*botão*/
.navbar .toggle_btn {
    color: rgb(245, 245, 245);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 25px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: rgb(255, 255, 255);
}

.action_btn:active {
    scale: 0.95;
}

/*dropdown menu*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 253, 253, 0.295);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 180px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown_menu li:hover {
    background: var(--font-color);
}


/*intro - minhas informações*/
section#intro {
    /*faz o calculo com o heigth do navbar*/
    min-height: calc(100vh - 60px);
    flex-direction: column;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.conteudo_intro {
    width: 500px;
    height: 350px;
    padding: 40px 10px 0 20px;
    position: relative;
    margin-top: 30%;
    left: 30%;
    background: var(--primary-color);
    color: var(--primary-bg-color);
}

/*efeito da div introdução(sobre mim)*/

.shadow-pop-bl {
    animation: shadow-pop-bl .3s cubic-bezier(.47, 0.000, .745, .715) both
}

/* ----------------------------------------------
 * Generated by Animista on 2026-1-19 18:27:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes shadow-pop-bl {
    0% {
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        transform: translateX(0) translateY(0)
    }

    100% {
        box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
        transform: translateX(8px) translateY(-8px)
    }
}

.conteudo_intro h1 {
    color: var(--primary-bg-color);
}

/*efeito do titulo intro*/

.text-shadow-pop-bl {
    animation: text-shadow-pop-bl .6s both
}

/* ----------------------------------------------
 * Generated by Animista on 2026-1-19 18:23:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes text-shadow-pop-bl {
    0% {
        text-shadow: 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555;
        transform: translateX(0) translateY(0)
    }

    100% {
        text-shadow: -1px 1px #555, -2px 2px #555, -3px 3px #555, -4px 4px #555, -5px 5px #555, -6px 6px #555, -7px 7px #555, -8px 8px #555;
        transform: translateX(8px) translateY(-8px)
    }
}

.title_intro {

    font-size: 40px;
}

/*area de contato*/



/*seção eduação*/
section#education {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 60px 20px;
    background: var(--primary-color);
}

#education h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    color: var(--font-color-sub);
}

/*formação*/
.code-editor {
    max-width: 300px;
    background-color: #1d1e22;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 2px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.title {
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1.57px;
    color: rgb(212 212 212);
}

.icon {
    width: 20px;
    transition: .2s ease;
}

.icon:hover {
    cursor: pointer;
    border-radius: 50px;
    background-color: #6e7281;
}

.editor-content {
    margin: 0 10px 10px;
    color: white;
}

.property {
    margin-left: 30px;
}

.property:hover {
    cursor: text;
}

.editor-content .color-0 {
    color: rgb(86 156 214);
}

.editor-content .color-1 {
    color: rgb(182 206 168);
}

.editor-content .color-2 {
    color: rgb(156 220 254);
}

.editor-content .color-3 {
    color: rgb(239, 254, 156);
}

.color-preview-1,
.color-preview-2 {
    height: 8px;
    width: 8px;
    border: 1px solid #fff;
    display: inline-block;
    margin-right: 3px;
}

.color-preview-1 {
    background-color: #1d1e22;
}

.color-preview-1 {
    background-color: rgba(0, 0, 0, 0.5);
}


/*cursos*/
/* From Uiverse.io by bociKond */
.wrapper {
    position: relative;
}

.card_courses {
    max-width: 380px;
    padding: 1rem 0;
    display: grid;
    grid-template-areas: "top" "bottom";
    grid-template-rows: 20% 1fr;
    border: 1px solid var(--primary-border-color);
    border-radius: .75rem;
    background: var(--primary-bg-color);
    color: var(--text-color);
    backdrop-filter: blur(14px);
    box-shadow: 0 15px 30px -15px var(--secondary-border-color);
    isolation: isolate;
}

.top {
    padding: .4rem 4rem;
    z-index: 1;
    border-bottom: 1px solid var(--secondary-border-color);
}

.bottom {
    z-index: 2;
}

.users {
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
}

.user {
    width: 100%;
    padding: .70rem 4rem;
    display: flex;
    gap: .1rem;
    flex-direction: column;
    align-items: flex;
    font-size: 1.1rem;
    border-bottom: 1px solid var(--secondary-border-color);
    position: relative;
}

.user:hover {
    background-color: var(--header-color);
    border-radius: 10px;
}

.user:nth-last-child(1) {
    border-bottom: none;
}

.user::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    left: 1.75rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--bg-color);
    border-radius: 50%;
}

.user-name {
    font-weight: 700;
    font-style: italic;
}

.user-occupation {
    opacity: .8;
}

.u-l {
    font-size: 1.1rem;
    font-weight: 700;
    font-style: italic;
}

/*tecnologias*/

/* From Uiverse.io by Shreya-3107 */
.card_technologies {
    width: 290px;
    height: 300px;
    background: #c0afd5;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    box-shadow: -20px 20px 0px -5px #9c87c0;
}

.title {
    font-weight: 900;
    font-size: 1.7em;
    color: var(--font-color);
}

.tag__name {
    display: inline-block;
    color: #fff;
    font-size: 1.1em;
    background-color: #9c87c0;
    padding: 6px 23px 9px;
    border-radius: 70em;
    margin: 8px 6px 8px 0;
    margin-left: 0px;
    position: relative;
    text-transform: lowercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.tag__name::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 40%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #554860;
}

.tag__name::before {
    left: 7px;
}

.tag__name::after {
    right: 7px;
}

.tag__name:hover {
    transform: scale(1.1);
    background-color: #9c87c0;
}


/*secão projeto*/
section#area_project {
    background: var(--accent);

}

#area_project h1 {
    text-align: center;
    color: var(--primary-color);
}


.project_hover:hover {
    color: var(--link-color);
}

/*roda pé*/
footer {
    background: var(--primary-color);
    color: var(--font-color);
}

.texto_rodape {
    color: var(--font-color-sub);
    align-items: center;
    padding-top: 15px;
}

/*redes sociasi*/
/* From Uiverse.io by david-mohseni */
.wrapper_rodape {
    display: inline-flex;
    list-style: none;
    height: 50px;
    width: 100%;
    padding-top: 15px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}

.wrapper_rodape .icon {
    position: relative;
    background: var(--icon-color);
    border-radius: 50%;
    margin: 5px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper_rodape .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper_rodape .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper_rodape .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper_rodape .icon:hover span,
.wrapper_rodape .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}


.wrapper_rodape .linkedin:hover,
.wrapper_rodape .linkedin:hover .tooltip,
.wrapper_rodape .linkedin:hover .tooltip::before {
    background: #104464;
    color: #fff;
}

.wrapper_rodape .github:hover,
.wrapper_rodape .github:hover .tooltip,
.wrapper_rodape.github:hover .tooltip::before {
    background: #0e0d0d;
    color: #fff;
}


/*Resposividade header*/
@media(max-width: 992px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}


@media (max-width: 768px) {
    section#education {
        flex-direction: column;
        /* Força empilhamento vertical em telas pequenas */
        gap: 10px;
        /* Reduz o espaçamento */
    }
}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}
