@import url(./reset.css);


/*paleta de cores*/
:root,
:root[data-theme='dark'] {
    --primary-color: #dcd7f3;

    --primary-bg-color: #231942;
    --secondary-bg-color: #5E548E;
    --primary-border-color: #9F86C0;
    --secondary-border-color: #9F86C0;

    --title-color: #9F86C0;
    --text-color: #dcd7f3;
    --link-color: #5E548E;
    --icon-color: #c3b4c5;
    --a-hover: #231942;

    /*cores card contato e foto*/
    --font-color: #fefefe;
    --font-color-sub: #231942;
    --bg-color: #9F86C0;
    --main-color: #fefefe;
}

:root,
:root[data-theme='light'] {
    --primary-color: #5E548E;

    --primary-bg-color: #f7d7e8;
    --secondary-bg-color: #BE95C4;
    --primary-border-color: #231942;
    --secondary-border-color: #5E548E;

    --title-color: #231942;
    --text-color: #6e6696;
    --link-color: #231942;
    --icon-color: #231942;
    --a-hover: #5E548E;

    /*cores card contato e foto*/
    --font-color: #fefefe;
    --font-color-sub: #BE95C4;
    --bg-color: #231942;
    --main-color: #fefefe;

    /*cores de sombra do conteudo sobre mim*/

    --sombra1: 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555;
}

html[data-theme='light'] .brand_logo {
    filter: invert(1);
}

html[data-theme='light'] .technologies__logo {
    filter: invert(80%);
}

body {
    height: 100vh;
    background: var(--primary-bg-color);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    overflow-x: hidden;
    margin: 0;
    padding: 0;

}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-bg-color);
    border-radius: 50rem;
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: ease-in-out .4s;
}



#area_navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* garante que fique acima do conteúdo */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
}

h1 {
    color: var(--title-color);
}

/*Header*/

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar .logo_navbar a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}


/*botão*/
.navbar .toggle_btn {
    color: rgb(245, 245, 245);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 25px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: rgb(255, 255, 255);
}

.action_btn:active {
    scale: 0.95;
}

/*dropdown menu*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 253, 253, 0.295);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}


/*intro - minhas informações*/
section#intro {
    /*faz o calculo com o heigth do navbar*/
    min-height: calc(100vh - 60px);
    flex-direction: column;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.conteudo_intro {
    width: 450px;
    height: 300px;
    padding: 30px 10px 0 10px;
    position: relative;
    margin-top: 30%;
    left: 30%;
    background: var(--primary-color);
    color: var(--primary-bg-color);
}

/*efeito da div introdução(sobre mim)*/

.shadow-pop-bl {
    animation: shadow-pop-bl .3s cubic-bezier(.47, 0.000, .745, .715) both
}

/* ----------------------------------------------
 * Generated by Animista on 2026-1-19 18:27:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes shadow-pop-bl {
    0% {
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        transform: translateX(0) translateY(0)
    }

    100% {
        box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
        transform: translateX(8px) translateY(-8px)
    }
}

.conteudo_intro h1 {
    color: var(--primary-bg-color);
}

/*efeito do titulo intro*/

.text-shadow-pop-bl {
    animation: text-shadow-pop-bl .6s both
}

/* ----------------------------------------------
 * Generated by Animista on 2026-1-19 18:23:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes text-shadow-pop-bl {
    0% {
        text-shadow: 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555;
        transform: translateX(0) translateY(0)
    }

    100% {
        text-shadow: -1px 1px #555, -2px 2px #555, -3px 3px #555, -4px 4px #555, -5px 5px #555, -6px 6px #555, -7px 7px #555, -8px 8px #555;
        transform: translateX(8px) translateY(-8px)
    }
}


.card_contato_foto {
    position: relative;
    margin-top: 30%;
    left: 30%;
}

/*area de contato*/
.card-client {
    background: var(--bg-color);
    width: 15rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid var(--font-color);
    box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
}

.card-client:hover {
    transform: translateY(-10px);
}

.user-picture {
    overflow: hidden;
    object-fit: cover;
    width: 10rem;
    height: 10rem;
    border: 4px solid var(--font-color);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.user-picture img {
    width: 100%;
    fill: currentColor;
}

.name-client {
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
}

.name-client span {
    display: block;
    font-weight: 200;
    font-size: 16px;
}

.social-media:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: var(--font-color);
}

.social-media a {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
}

.social-media a:last-child {
    margin-right: 0;
}

.social-media a svg {
    width: 1.1rem;
    fill: currentColor;
}

/*-- Tooltip Social Media --*/
.tooltip-social {
    background: var(--font-color-sub);
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
}

.tooltip-social:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
}

.social-media a .tooltip-social:after {
    border-top-color: var(--font-color);
}

.social-media a:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
}


@supports (aspect-ratio: 1 / 1) {
    .browser-warning {
        display: none;
    }
}


/*seção eduação*/
section#education {}

/*formação*/
#training {}

/* From Uiverse.io by Yaya12085 */
.code-editor {
    max-width: 300px;
    background-color: #1d1e22;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 2px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.title {
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1.57px;
    color: rgb(212 212 212);
}

.icon {
    width: 20px;
    transition: .2s ease;
}

.icon:hover {
    cursor: pointer;
    border-radius: 50px;
    background-color: #6e7281;
}

.editor-content {
    margin: 0 10px 10px;
    color: white;
}

.property {
    margin-left: 30px;
}

.property:hover {
    cursor: text;
}

.editor-content .color-0 {
    color: rgb(86 156 214);
}

.editor-content .color-1 {
    color: rgb(182 206 168);
}

.editor-content .color-2 {
    color: rgb(156 220 254);
}

.editor-content .color-3 {
    color: rgb(239, 254, 156);
}



.color-preview-1,
.color-preview-2 {
    height: 8px;
    width: 8px;
    border: 1px solid #fff;
    display: inline-block;
    margin-right: 3px;
}

.color-preview-1 {
    background-color: #1d1e22;
}

.color-preview-1 {
    background-color: rgba(0, 0, 0, 0.5);
}


/*cursos*/
#courses {}

/* From Uiverse.io by bociKond */
.wrapper {
    position: relative;
    --white: #e3e3e3;
    --bc: rgb(203, 46, 79);
    --bc-al: rgba(203, 46, 79, 0.6);
}

.card {
    max-width: 340px;
    padding: 1rem 0;
    display: grid;
    grid-template-areas: "top" "bottom";
    grid-template-rows: 20% 1fr;
    border: 1px solid var(--bc-al);
    border-radius: .75rem;
    background: var(--bc-al);
    color: var(--white);
    backdrop-filter: blur(14px);
    box-shadow: 0 15px 30px -15px var(--bc-al);
    isolation: isolate;
}

.circle-1 {
    position: absolute;
    content: '';
    width: 5rem;
    height: 5rem;
    left: 1rem;
    top: 50%;
    transform: translate(-50%);
    background-color: var(--bc-al);
    border-radius: 50%;
    z-index: -10;
}

.circle-2 {
    position: absolute;
    content: '';
    width: 3rem;
    height: 3rem;
    right: -1rem;
    top: 3rem;
    background-color: var(--bc-al);
    border-radius: 50%;
    z-index: -10;
}

.top {
    padding: .5rem 4rem;
    z-index: 1;
}

.bottom {
    z-index: 2;
}

.users {
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
}

.user {
    width: 100%;
    padding: .75rem 4rem;
    display: flex;
    gap: .1rem;
    flex-direction: column;
    align-items: flex;
    font-size: 1.1rem;
    border-bottom: 1px solid var(--bc-al);
    position: relative;
}

.user:hover {
    background-color: var(--bc-al);
}

.user:nth-last-child(1) {
    border-bottom: none;
}

.user::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    left: 1.75rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--white);
    border-radius: 50%;
}

.user-name {
    font-weight: 700;
    font-style: italic;
}

.user-occupation {
    opacity: .8;
}

.u-l {
    font-size: 1.1rem;
    font-weight: 700;
    font-style: italic;
}

/*secão projeto*/
section#area_project {

    background: var(--accent);

}

.project_hover:hover {
    color: var(--link-color);
}


/*Resposividade header*/
@media(max-width: 992px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}
