@import url(./reset.css);


/*paleta de cores*/
:root,
:root[data-theme='dark'] {
    --primary-color: #dcd7f3;

    --primary-bg-color: #231942;
    --secondary-bg-color: #5E548E;
    --primary-border-color: #9F86C0;
    --secondary-border-color: #9F86C0;

    --title-color: #E0B1CB;
    --text-color: #dcd7f3;
    --link-color: #5E548E;
    --icon-color: #c3b4c5;
    --a-hover: #231942;
}

:root,
:root[data-theme='light'] {
    --primary-color: #5E548E;

    --primary-bg-color: #f7d7e8;
    --secondary-bg-color: #BE95C4;
    --primary-border-color: #231942;
    --secondary-border-color: #5E548E;

    --title-color: #231942;
    --text-color: #6e6696;
    --link-color: #231942;
    --icon-color: #231942;
    --a-hover: #5E548E;
}

html[data-theme='light'] .brand_logo {
    filter: invert(1);
}

html[data-theme='light'] .technologies__logo {
    filter: invert(80%);
}

body {
    height: 100vh;
    background: var(--primary-bg-color);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    overflow-x: hidden;
    margin: 0;
    padding: 0;

}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-bg-color);
    border-radius: 50rem;
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: ease-in-out .4s;
}



#area_navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* garante que fique acima do conteúdo */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
}

h1 {
    color: var(--title-color);
}

/*Header*/

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar .logo_navbar a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}


/*botão*/
.navbar .toggle_btn {
    color: rgb(245, 245, 245);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 25px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: rgb(255, 255, 255);
}

.action_btn:active {
    scale: 0.95;
}

/*dropdown menu*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 253, 253, 0.295);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}


/*intro - minhas informações*/
section#intro {
    /*faz o calculo com o heigth do navbar*/
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.conteudo_intro {
    width: 450px;
    height: 300px;
    padding: 30px 10px 0 10px;
    position: relative;
    top: 10rem;
    left: 10%;
    background: var(--primary-color);
    color: var(--primary-bg-color);
}

/*efeito da div introdução(sobre mim)*/

.shadow-pop-bl {
    animation: shadow-pop-bl .3s cubic-bezier(.47, 0.000, .745, .715) both
}

/* ----------------------------------------------
 * Generated by Animista on 2026-1-19 18:27:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes shadow-pop-bl {
    0% {
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        transform: translateX(0) translateY(0)
    }

    100% {
        box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
        transform: translateX(8px) translateY(-8px)
    }
}

.conteudo_intro h1 {
    color: var(--primary-bg-color);
}

/*efeito do titulo intro*/

.text-shadow-pop-bl {
    animation: text-shadow-pop-bl .6s both
}

/* ----------------------------------------------
 * Generated by Animista on 2026-1-19 18:23:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes text-shadow-pop-bl {
    0% {
        text-shadow: 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555;
        transform: translateX(0) translateY(0)
    }

    100% {
        text-shadow: -1px 1px #555, -2px 2px #555, -3px 3px #555, -4px 4px #555, -5px 5px #555, -6px 6px #555, -7px 7px #555, -8px 8px #555;
        transform: translateX(8px) translateY(-8px)
    }
}

.contato_intro {
    position: relative;
    top: 10px;
}

/*foto de perfil*/

/* From Uiverse.io by janisar-hyder */
img {
    display: block;
    max-width: 60%;
}


.stack {
    width: 55%;
    max-width: 400px;
    transition: 0.25s ease;
    /* opcional, para garantir */



    &:hover {
        transform: rotate(5deg);

        .card:before {
            transform: translatey(-2%) rotate(-4deg);
        }

        .card:after {
            transform: translatey(2%) rotate(4deg);
        }
    }
}

.card_foto {
    aspect-ratio: 3 / 2;
    border: 4px solid;
    background-color: #fff;
    position: relative;
    transition: 0.15s ease;
    cursor: pointer;
    padding: 5% 5% 15% 5%;

    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        border: 4px solid;
        background-color: #fff;
        transform-origin: center center;
        z-index: -1;
        transition: 0.15s ease;
        top: 0;
        left: 0;
    }

    &:before {
        transform: translatey(-2%) rotate(-6deg);
    }

    &:after {
        transform: translatey(2%) rotate(6deg);
    }
}

.image {
    width: 100%;
    border: 4px solid;
    background-color: #eee;
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: hidden;
}

.browser-warning {
    margin-bottom: 4rem;
}

@supports (aspect-ratio: 1 / 1) {
    .browser-warning {
        display: none;
    }
}


/*seção eduação*/
section#education {
    background: var(--primary-color);
    color: var(--title-color);
}



/*secão projeto*/
section#area_project {
    background: var(--accent);

}

.project_hover:hover {
    color: var(--link-color);
}


/*Resposividade header*/
@media(max-width: 992px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

