@import url(./reset.css);


/*paleta de cores*/
:root,
:root[data-theme='dark'] {
    --primary-color: #dcd7f3;

    --primary-bg-color: #231942;
    --secondary-bg-color: #5E548E;
    --primary-border-color: #9F86C0;
    --secondary-border-color: #9F86C0;

    --title-color: #E0B1CB;
    --text-color: #dcd7f3;
    --link-color: #5E548E;
    --icon-color: #c3b4c5;
    --a-hover: #231942;
}

:root,
:root[data-theme='light'] {
    --primary-color: #5E548E;

    --primary-bg-color: #f7d7e8;
    --secondary-bg-color: #BE95C4;
    --primary-border-color: #231942;
    --secondary-border-color: #5E548E;

    --title-color: #231942;
    --text-color: #5E548E;
    --link-color: #231942;
    --icon-color: #231942;
    --a-hover: #5E548E;
}

html[data-theme='light'] .brand_logo {
    filter: invert(1);
}

html[data-theme='light'] .technologies__logo {
    filter: invert(80%);
}

body {
    height: 100vh;
    background: var(--primary-bg-color);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);

}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-bg-color);
    border-radius: 50rem;
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: ease-in-out .4s;
}



#area_navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* garante que fique acima do conteúdo */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
}

/*Header*/

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar .logo_navbar a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}


/*botão*/
.navbar .toggle_btn {
    color: rgb(245, 245, 245);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 25px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: rgb(255, 255, 255);
}

.action_btn:active {
    scale: 0.95;
}

/*dropdown menu*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 253, 253, 0.295);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*intro - minhas informações*/
section#intro {
    /*faz o calculo com o heigth do navbar*/
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background: var(--accent);
}

#intro h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/*seção eduação*/
section#education {
    background: var(--text-color-inverso);
    color: var(--title-color);
}

/*secão projeto*/
section#area_project {
    background: var(--accent);

}

.project_hover:hover {
    color: var(--text-color);
}


/*Resposividade header*/
@media(max-width: 992px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}
